.full-width{
  width: 100%;
}

.mat-figure{
  display: inherit;
}

.mat-grid-tile{
  display: inherit;
}

.toolbar{
  background: #673ab7;
  color: white
}

.left-element{
  margin-left: 20%;
  float: left;
}
.right-element{
  margin-right: 20%;
  float: right;
}
.example-selected-value {
  margin: 15px 0;
}
