<mat-toolbar class="toolbar">Cybersecurity</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Test Server">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div class="full-width">
          <div style=" width: 80%; margin: auto;">
            <mat-form-field class="full-width">
            <textarea [(ngModel)]="testInputText"
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="full-width">
            <div class="left-element">
              <button mat-raised-button style="margin: auto" (click)="getButton()">GET</button>
            </div>
            <div class="right-element">
              <button mat-raised-button style="margin: auto" (click)="postButton()">POST</button>
            </div>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field style="width: 80%">
    <textarea [(ngModel)]="testResponseText"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-tab>
<!--------------------------------------------------------------------------------->
  <mat-tab label="Blind Signature">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div class="full-width">
          <div style=" width: 80%; margin: auto;">
            <mat-form-field class="full-width">
              <textarea [(ngModel)]="serverPublicKey"
                        matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="full-width">
          <div style=" width: 80%; margin: auto;">
            <mat-form-field class="full-width">
            <textarea [(ngModel)]="blindSignatureRequest"
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="full-width">
            <div class="left-element">
              <button mat-raised-button style="margin: auto" (click)="getPublicKeyButton()">Get Public Key</button>
            </div>
            <div class="right-element">
              <button mat-raised-button style="margin: auto" (click)="getBlindSignature()">Get Blind Signature</button>
            </div>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field style="width: 80%">
    <textarea [(ngModel)]="blindSignatureResponse"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="5"></textarea>
          <mat-checkbox [(ngModel)]="verifiedCheckBox" disableRipple="true" (click)="doNothing($event)">Verified</mat-checkbox>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-tab>
  <!--------------------------------------------------------------------------------->
  <mat-tab label="No Repudiation">
    <button mat-raised-button (click)=emmit()>Emit</button>
  </mat-tab>
</mat-tab-group>

