<mat-toolbar class="toolbar">Cybersecurity</mat-toolbar>
<mat-tab-group style="height: 100%">
  <mat-tab label="Test Server">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div class="full-width">
          <div style=" width: 80%; margin: auto;">
            <mat-form-field class="full-width">
            <textarea #autosize="cdkTextareaAutosize"
                      [(ngModel)]="testInputText"
                      cdkAutosizeMaxRows="5"
                      cdkAutosizeMinRows="3"
                      cdkTextareaAutosize
                      matInput></textarea>
            </mat-form-field>
          </div>
          <div class="full-width">
            <div class="left-element">
              <button (click)="getButton()" mat-raised-button style="margin: auto">GET</button>
            </div>
            <div class="right-element">
              <button (click)="postButton()" mat-raised-button style="margin: auto">POST</button>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field style="width: 80%">
    <textarea #autosize="cdkTextareaAutosize"
              [(ngModel)]="testResponseText"
              cdkAutosizeMaxRows="5"
              cdkAutosizeMinRows="3"
              cdkTextareaAutosize
              matInput></textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <!--------------------------------------------------------------------------------->
  <mat-tab label="Blind Signature">
    <mat-grid-list cols="2" rowHeight="1000">
      <mat-grid-tile>
        <div class="mat-figure" style="align-items: flex-start">
          <div style="align-content: initial; width: 90%; height: 100%; padding-top: 10px">
            <mat-list style="display: inherit">
              <div class="mat-list-item">
                <div style="padding-top: 0; margin: auto; align-content: initial; width: 100%;">
                  <mat-list-item style="height: auto;padding-top: 10px">
                    <mat-card style="background: #673ab747;height: 100%; margin: auto; padding: 10px; width: 100%">
                      <mat-card-title> Public Key
                      </mat-card-title >
                      <div style="margin:auto; width: 100%">

                        <mat-form-field class="full-width">
                             <textarea #autosize="cdkTextareaAutosize"
                                       [(ngModel)]="serverN"
                                       cdkAutosizeMaxRows="5"
                                       cdkAutosizeMinRows="1"
                                       cdkTextareaAutosize
                                       matInput></textarea>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                             <textarea #autosize="cdkTextareaAutosize"
                                       [(ngModel)]="publicEText"
                                       cdkAutosizeMaxRows="5"
                                       cdkAutosizeMinRows="1"
                                       cdkTextareaAutosize
                                       matInput></textarea>
                        </mat-form-field>

                        <mat-button-toggle-group #group="matButtonToggleGroup" (valueChange)="updateValueE($event)">
                          <mat-button-toggle value="Dec" >Decimal
                          </mat-button-toggle>
                          <mat-button-toggle value="Hex" >Hexadecimal
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                        <button (click)="getPublicKeyButton()"  mat-raised-button style="margin-left: 10px; ">Get Public Key</button>

                      </div>
                    </mat-card>
                  </mat-list-item>
                  <mat-divider> </mat-divider>
                  <mat-list-item style="height: auto; padding-top: 10px">
                    <mat-card style="background: #673ab747; height: 100%; width:100%  ">
                      <mat-card-title> Blind Signature
                      </mat-card-title>
                      <mat-card-subtitle>Please write a message:</mat-card-subtitle>
                      <div style="margin:auto; align-items: flex-start">
                        <mat-form-field class="full-width">
                        <textarea #autosize="cdkTextareaAutosize"
                                  [(ngModel)]="blindSignatureRequest"
                                  cdkAutosizeMaxRows="5"
                                  cdkAutosizeMinRows="3"
                                  cdkTextareaAutosize
                                  matInput></textarea>
                        </mat-form-field>
                        <button (click)="getBlindSignature()"  mat-raised-button style="margin: auto">Get Blind Signature</button>
                      </div>
                    </mat-card>
                  </mat-list-item>

                </div>
              </div>
            </mat-list>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile >
        <div class="mat-figure" style="align-items: flex-start">
          <mat-card style="background: #673ab747; height: 20%; width: 100%;  padding: 10px; margin-right: 1%; margin-top: 30px">
            <mat-form-field style="width: 80%">
            <textarea #autosize="cdkTextareaAutosize"
                      [(ngModel)]="blindSignatureResponse"
                      cdkAutosizeMaxRows="5"
                      cdkAutosizeMinRows="3"
                      cdkTextareaAutosize
                      matInput></textarea>
              <mat-checkbox (click)="doNothing($event)" [(ngModel)]="verifiedCheckBox" disableRipple="true">Verified</mat-checkbox>
            </mat-form-field>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <!--------------------------------------------------------------------------------->
  <mat-tab label="No Repudiation" style="overflow: hidden">
    <div class="layout-row" style="overflow: hidden">
      <div style="align-items: center; height: 15vh; ">
        <mat-card style="margin: 20px; align-items: center; background-color: #673ab747;">
          <mat-form-field style="margin-left: 1%">
            <label> Username:
              <input style="margin-bottom: 5%" [(ngModel)]="username" matInput>
            </label>
          </mat-form-field>
          <button style="margin-left: 5%" [disabled]="lockLoginButton" (click)=login() mat-raised-button>Login</button>
        </mat-card>
      </div>
      <mat-grid-list cols="3"  rowHeight="650px" style="margin-top: 5%;" >
        <mat-grid-tile style="width: 100%">
          <div class="mat-figure" style="align-content:flex-start ">
            <mat-card style="background-color: #673ab747; width: 100%; background-color: #673ab747; height: 100%;margin-left: 1%">
              <mat-list>
                <mat-card-subtitle>Users connected</mat-card-subtitle>
                <div *ngFor="let user of userList">
                  <mat-card *ngIf="user.username!==selectedUser.username"  style="background-color: #673ab747">
                    <mat-list-item (click)="selectUser(user)" >
                      {{user.username}}
                    </mat-list-item>
                  </mat-card>
                  <mat-card *ngIf="user.username===selectedUser.username" style="background: #673ab7">
                    <mat-list-item>
                      {{user.username}}
                    </mat-list-item>
                  </mat-card>
                </div>
              </mat-list>
            </mat-card>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" style="align-content: flex-start;  align-items: flex-start; width: 100%">
          <div class="mat-figure" style="align-items: flex-start">
            <mat-card style="margin-top: 0%; align-items: center; width: 100%; height: 100%; margin-left: 1% ; background-color: #673ab747">
              <mat-card style="margin-top: 1%; margin-bottom: 2%; background-color: #673ab747">
                <mat-form-field style="width: 100%">
                 <textarea #autosize="cdkTextareaAutosize"
                           [(ngModel)]="noRepudiationMessage"
                           cdkAutosizeMaxRows="5"
                           cdkAutosizeMinRows="3"
                           cdkTextareaAutosize
                           matInput></textarea>
                </mat-form-field>
                <button (click)="startNonRepudiableMessage()" mat-raised-button> Send Non Repudiable Message</button>
              </mat-card>
              <mat-card style="margin-top: 2%; margin-bottom: 2%; background-color: #673ab747">
                <mat-form-field style="width: 100%">
                  Pr
                    <textarea #autosize="cdkTextareaAutosize"
                              [(ngModel)]="PrText"
                              cdkAutosizeMaxRows="5"
                              cdkAutosizeMinRows="3"
                              cdkTextareaAutosize
                              matInput ></textarea>
                </mat-form-field>
              </mat-card>
              <mat-card style="margin-top: 2%; margin-bottom: 2%; background-color: #673ab747">
                Pkp
                <mat-form-field style="width: 100%">
                       <textarea #autosize="cdkTextareaAutosize"
                                 [(ngModel)]="PkpText"
                                 cdkAutosizeMaxRows="5"
                                 cdkAutosizeMinRows="3"
                                 cdkTextareaAutosize
                                 matInput ></textarea>
                </mat-form-field>
              </mat-card>
            </mat-card>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
</mat-tab-group>

