.full-width{
  width: 100%;
}

.mat-figure{
  align-items: flex-start;
}

.mat-grid-tile .mat-figure{
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: start;

}

.toolbar{
  background: #673ab7;
  color: white
}

.left-element{
  margin-left: 20%;
  float: left;
}
.right-element{
  margin-right: 20%;
  float: right;
}
.example-selected-value {
  margin: 15px 0;
}
