<div style="margin: auto; font-size: 20pt">
  {{data.username}}
</div>
<div>
  Modulus:
  <mat-form-field style="width: 50%">
    <textarea #autosize="cdkTextareaAutosize"
              [(ngModel)]="data.modulus"
              cdkTextareaAutosize
              matInput></textarea>
  </mat-form-field>
</div>
<div>
  Threshold:
  <mat-form-field style="width: 50%">
    <textarea #autosize="cdkTextareaAutosize"
              [(ngModel)]="data.threshold"
              cdkTextareaAutosize
              matInput></textarea>
  </mat-form-field>
</div>
<div>
  Message:
  <mat-form-field style="width: 50%">
    <textarea #autosize="cdkTextareaAutosize"
              [(ngModel)]="data.message"
              cdkTextareaAutosize
              matInput></textarea>
  </mat-form-field>
</div>
<div>
  Proof of Origin:
  <mat-form-field style="width: 50%">
    <textarea #autosize="cdkTextareaAutosize"
              [(ngModel)]="data.Po"
              cdkAutosizeMaxRows="5"
              cdkAutosizeMinRows="3"
              cdkTextareaAutosize
              matInput></textarea>
  </mat-form-field>
</div>
<div>
  Proof of Publication of K
  <mat-form-field style="width: 50%">
    <textarea #autosize="cdkTextareaAutosize"
              [(ngModel)]="data.Pkp"
              cdkAutosizeMaxRows="5"
              cdkAutosizeMinRows="3"
              cdkTextareaAutosize
              matInput></textarea>
  </mat-form-field>
  <button mat-raised-button (click)="close()">Close</button>
</div>
